* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e7d3d3;
  padding: 20px;
}

/* HOME PAGE STYLING */
.project-list {
  list-style: none;
  padding: 20px;
}

.project-list li {
  margin: 5px 0;
  padding: 5px;
  color: red;
}
/* styling for item part of list */

.project-list li a {
  color: red;
}
/* styling for link part of item */
